@import './variables.scss';

@font-face {
    font-family: 'Inter';
    src: url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap");
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    color: #000000;
    background-color: $bcg-color-body;
}